@import './variables.scss';

.footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $light_blue;
    align-items: center;

    & div a,
    & div p {
        color: $regular_grey;
        text-decoration: none;
        display: flex;
    }

    &__text,
    & div:not(&__tabs) {
        padding: 10px 20px;
    }

    & div:not(&__tabs):not(&__text) {
        border-bottom: 3px solid transparent;
        transition: border-bottom .2s;

        &:hover {
            border-bottom: 3px solid #D19A66;
        }
    }

    & div:not(&__tabs div) {
        &:nth-child(1) a {
            padding-right: 40px;
        }

        &:nth-child(3) {
            border-left: 1px solid $light_blue;

            & a {
                gap: 20px;
            }
        }
    }

    &__tabs {
        display: flex;
        flex-grow: 1;

        & div {
            border-right: 1px solid $light_blue;

            &:nth-child(1) {
                border-left: 1px solid $light_blue;
            }
        }
    }

}