/*Global colors*/
$dark_blue: #010C15;
$regular_blue: #011627;
$light_blue: #1E2D3D;
$mint_blue: #43D9AD;
$yellow_chalky: #E5C07B;
$regular_green: #89CA78;
$regular_purple: #D55FDE;
$orange_whiskey: #D19A66;
$deep_red: #BE5046;
$coral_red: #EF596F;
$regular_white: #FFFFFF;
$regular_black: #000000;
$regular_grey: #607B96;


/*Global fonts*/
$title_size: clamp(40px, 4vw, 62px);
$subtitle_size: clamp(20px, 4vw, 32px);
$text_size: clamp(14px, 4vw, 16px);
$small_text: clamp(12px, 4vw, 14px);